/* For all changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.top-btn {
    background-color: #66323d;
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.top-btn.appear {
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in-slow {
    transition: opacity 400ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


.home-picture {
    width: 50%;
    height: auto;
}