/* For all changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.scale-button {
    transition: 0.25s;
}

.scale-button:hover {
    transform: scale(1.08);
}

.profile-text {
    line-height: 175%;
    font-size: 100%;
    width: 50px;
    padding-left: 5%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.no-wrap {
    white-space: nowrap;
    flex-wrap: nowrap;
}

.contact-image {
    height: 50px;
    width: 50px;
}

.header-text {
    white-space: nowrap;
    font-size: 16px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 400px) {
    .contact-image {
        height: 125px;
        width: 125px;
    }

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 300px;
    }

    .profile-text {
        line-height: 175%;
        font-size: 75%;
        width: 150px;
    }

    .header-text {
        font-size: 32px;
    }
}

@media (min-width: 401px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 350px;
    }

    .contact-image {
        height: 150px;
        width: 150px;
    }

    .profile-text {
        line-height: 175%;
        font-size: 125%
    }

    .profile-text {
        line-height: 175%;
        font-size: 110%;
        width: 170px
    }

    .header-text {
        font-size: 32px;
    }
}

@media (min-width: 550px) {

    .contact-image {
        height: 200px;
        width: 200px;
    }

    .header-text {
        font-size: 48px;
    }

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 540px;
    }

    .profile-text {
        line-height: 175%;
        font-size: 150%;
        width: 230px
    }
}

@media (min-width: 600px) {

    .contact-image {
        height: 250px;
        width: 250px;
    }

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 600px;
    }

    .profile-text {
        line-height: 200%;
        font-size: 175%;
        width: 500px;
    }

    .header-text {
        font-size: 64px;
    }
}

.circular-square {
    border-radius: 50%;
}

.person {
    /* width: 50%; */
    padding-top: 5%;
}

@media (max-width: 1200px) {
    .person {
        width: 100%;
        align-items: center;
        float: none;
    }
}

@media (min-width: 1201px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1400px;
    }

    .person {
        width: 50%
    }

    .header-text {
        font-size: 64px;
    }

}