  :root {
    font-family: 'Poppins', sans-serif;
    --text: #f0f0f0;
    --secondary-text: #cbd3da;
    --bg: #130810;
    --primary: #5c2f54;
    --secondary: #3b2e3e;
    --accent: #bd84ff;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));

    --margin-lg: 0 12%;
    --margin-md: 0 6%;

    --border1: 1rem;
    --border05: 0.5rem;
}

* {
    font-family: 'Poppins', ui-sans-serif;
}

.BAH {
    font-size: 350px;
    color: white;
  }
  
  .hmmm {
    background-color: #24192b00;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #130810;
    /* background-image: linear-gradient(to top right, #130810, #271121); */
    max-height: 100%
    /* background-color: rgb(37, 42, 46); */
  }
  
  .first-gradient {
    background-image: linear-gradient(to top right, #130810, #271121);
    height: 115vh
  }
  
  h1 {
    color: white;
  }
  
  p {
    color: rgb(200, 200, 200);
  }
  
  .text {
    color:rgb(200, 200, 200);
  }
  
  .link-light {
    color: #f8f9fa;
  }
  
  .link-light:hover {
    color:#f9fafb;
  }
  
  .footer {
    margin-top: auto;
  }
  
  .scale-button {
    transition: 0.25s;
  }
  
  .scale-button:hover {
    transform: scale(1.08);
  }
  
  .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0px);
    transition: 0.25s ease all;
  }
  
  .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(5%);
    transition: 0.25s ease all;
  }
  
  .dropdown-menu.show::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cbd3da;
    color: transparent;
    width: 0%;
    height: 3px;
    transition: all 10.5s;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #cbd3da;
    font-size: 1.1em;
    position: relative;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #cbd3da;
  }
  
  .navbar .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cbd3da;
    color: transparent;
    width: 0%;
    height: 3px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  .navbar .navbar-nav .nav-link.special::after {
    content: '';
    width: 100%;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .dropdown-divider {
    width: 80%;
    margin: auto;
  }
  
  .dropdown-item {
    text-align: center;
  }
  
  .dropdown-item:hover {
      background-color: #54376d;
  }
  
  .dropdown-center {
    right: auto;
    left: -30%;
  }
  
  .ms-3 {
    margin-left: 1rem !important;
  }
  
  .flex-wrap {
    flex-wrap: wrap !important;
  }
  
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
    
  }

.profile-text {
    line-height: 175%;
    font-size: 100%;
    width: 50px
}

.image-thing {
  height: 50px;
  width: 50px;
}

.hehe-text {
    white-space: nowrap;
    font-size: 16px;
    width: fit-content;
    text-align: center;
    margin:0 auto;
  }

    @media (max-width: 400px)  {
      .image-thing {
        height: 125px;
        width: 125px;
      }

      .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
          max-width: 300px;
        }

     .profile-text {
          line-height: 175%;
          font-size: 75%;
          width: 150px;
      }

      .hehe-text {
        font-size: 32px;
      }
    }

  @media (min-width: 401px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 350px;
      }

      .image-thing {
        height: 150px;
        width: 150px;
      }
      
      .profile-text {
        line-height: 175%;
        font-size: 125%
    }
    .profile-text {
      line-height: 175%;
      font-size: 110%;
      width: 170px
    }
    .hehe-text {
        font-size: 32px;}
  }

  @media (min-width: 550px) {

    .image-thing {
      height: 200px;
      width: 200px;
    }

    .hehe-text {
        font-size: 32px;
    }

    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 540px;
      }

      .profile-text {
          line-height: 175%;
          font-size: 150%;
          width: 230px
      }
  }

  @media (min-width: 600px)  {

    .image-thing {
      height: 250px;
      width: 250px;
    }

    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 600px;
      }

    .profile-text {
        line-height: 200%;
        font-size: 175%;
        width: 300px;
    }

    .hehe-text {
        font-size: 64px;
    }
  }

.circular-square {
  border-radius: 50%;
}

.gradient {
    background-image: linear-gradient(to top, #130810, #271121);
    height: 100%
  }

.person {
    /* width: 50%; */
    padding-top: 5%;
}

@media (max-width: 1125px) {

    .person {
        width: 100%;
        align-items: center;
        float: none;
    }
}

@media (min-width: 1126px) {

    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1300px;
      }

    .person {
        width:50%
    }

    .hehe-text {
        font-size: 64px;
    }

}
