/* For changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.bullet-list {
    color: var(--secondary-text);
    font-size: 100%;
    list-style-position: outside;
    word-wrap: inherit;
    width: 85%
}

@media (min-width: 700px) {
    .bullet-list {
        width: 75%;
        font-size: 125%
    }
}

@media (min-width: 1100px) {
    .bullet-list {
        width: 60%;
        font-size: 125%
    }
}

@media (min-width: 1500px) {
    .bullet-list {
        width: 50%;
        font-size: 125%
    }
}