/* For changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.text-right {
    float: right;
    padding-right: 40%;
}

.picture-left {
    vertical-align: middle;
}

.scale-button {
    transition: 0.25s;
}

.scale-button:hover {
    transform: scale(1.08);
}

.sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor {
    margin: 1vh 1vw 1vh 1vw;
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 20000px;
    }
}

.header-text {
    white-space: nowrap;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 1vh;
    text-wrap: wrap;
    font-size: 6vw;
}

@media (min-width: 300px) {
    .header-text {
        text-wrap: wrap;
        white-space: nowrap;
        font-size: 6vw;
        width: fit-content;
    }
}

@media (min-width: 600px) {
    .header-text {
        white-space: nowrap;
        font-size: 2em;
        width: fit-content;
    }
}

@media (min-width: 800px) {
    .header-text {
        white-space: nowrap;
        font-size: 32px;
        width: fit-content;
    }
}

@media (min-width: 1164px) {
    .header-text {
        white-space: nowrap;
        font-size: 48px;
        width: fit-content;
    }
}

@media (max-width: 1125px) {

    .person {
        width: 100%;
        align-items: center;
        float: none;
    }

    .header-text {
        /* font-size: 48px; */
    }

}

@media (min-width: 1126px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1300px;
    }

    .person {
        width: 50%
    }

    .header-text {
        font-size: 64px;
    }

}