/* For all changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.scale-button {
    transition: 0.25s;
}

.scale-button:hover {
    transform: scale(1.08);
}

.text-padding {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.title-padding {
    margin-top: 2%;
}

.border-thing {
    /* border:  5px solid #270a38; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}