/* For all changes to all of the pages, change copyme.css */
@import url('/copyme.css');

.scale-button {
    transition: 0.25s;
}

.scale-button:hover {
    transform: scale(1.05);
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.home-picture {
    width: 50%;
    height: auto;
}

.event {
    font-size: 1.5vw;
    color: white;
}

.header-text {
    white-space: nowrap;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    font-size: 32px;
}

.gradient {
    background-image: linear-gradient(to top, #130810, #271121);

    height: 100%
}

@media (min-width: 300px) {
    .header-text {
        white-space: nowrap;
        font-size: 32px;
        width: fit-content;
    }
}

@media (min-width: 600px) {
    .header-text {
        white-space: nowrap;
        font-size: 3.5vw;
        width: fit-content;
    }
}

@media (min-width: 800px) {
    .header-text {
        white-space: nowrap;
        font-size: 32px;
        width: fit-content;
    }
}

@media (min-width: 1164px) {
    .header-text {
        white-space: nowrap;
        font-size: 32px;
        width: fit-content;
    }
}

@media (max-width: 1125px) {

    .person {
        width: 100%;
        align-items: center;
        float: none;
    }
}

@media (min-width: 1126px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1300px;
    }

    .header-text {
        font-size: 64px;
    }

}